# Hostinger Environment Variables
NODE_ENV=production
PORT=3000

# Supabase Credentials
VITE_SUPABASE_URL=https://tddgfyxmublwqilfzmvx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkZGdmeXhtdWJsd3FpbGZ6bXZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMjE1NzgsImV4cCI6MjA5ODU5NzU3OH0.-zrRh4rqzbqGua_4q7BFPf_8i7mCqva6HyjKaYaECDM

# Google Places API Key
GOOGLE_PLACES_API_KEY=AIzaSyBaeqVsZuiAKe7tPpHuFqBWj0LMPuXpp2c
